

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
header {
    
}
h2 {
    text-shadow: 3px 2px rgb(151, 150, 150);
}
.flag {
    width: 14px;
    height: 14px;
}
.bold {
    font-weight: 900;
}